<div class="search">
    <h2>Session: abc by TM name </h2>
</div>
<div class="card">
<!-- For each available session -->
    <div class="card-header">
        Session Title
    </div>

    <div class="card-body">
        <h5 class="card-title">Session Details</h5>
        <p class="card-text">Session Info</p>

        <!-- At the baseline -->
        <div class="foot"> 
            <div class="other">
                <a href="#" class="btn btn-primary">Guests</a>
                <a href="#" class="btn btn-primary">Comments</a>
            </div>
        
            <!-- If role == TM -->
            <div class="editor">
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-primary">Remove</a>
            </div>
        </div>
        
    </div>
</div>