table{
    background-color: #4A154B;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: #4A154B;
    font-size: 35px;
}