<div class="container">
<h2 class="text-center mt-5"> Add Student </h2>
<form action="" class="w-50 mx-auto">
<!-- add student -->
<div class="mb-3">
    <label for="exampleInputemail" class="form-label">Student Email </label>
    <input type="email" class="form-control" id="exampleInputemail" aria-describedby="">
</div>

<!-- student module -->
<div class="mb-3">
    <label for="exampleInputText" class="form-label">Student Module </label>
    <input type="text" class="form-control" id="exampleInputText" aria-describedby="">
</div>

<!-- submit -->
<div class="row mb-5">
    <div class="col text-center">
    <button type="submit" class="btn"> Submit </button>
</div>
</div>
</form>
</div>
