<div class="container mt-5">
<form action="" class="w-75 mx-auto">
<h2 class="text-center"> Add Student </h2>
<hr>

<!-- add student -->
<div class="mb-3">
    <label for="exampleInputemail" class="form-label">Student Email </label>
    <input type="email" class="form-control" id="exampleInputemail" aria-describedby="">
</div>

<!-- student module -->
<div class="mb-3">
    <label for="exampleInputText" class="form-label">Student Module </label>
    <select name="module" id="module" class="form-control"> 
        <option value="select">-Select Module</option>
        <option *ngFor="let mod of personalModules" value="{{mod.name}}" id="{{mod.id}}" >{{mod.name}} </option>
        
    </select>
</div>

<!-- submit -->
<div class="row mb-5">
    <div class="col text-center">
    <button type="submit" class="btn create"> Submit </button>
</div>
</div>
</form>
</div>
