<div class="container text-light">
<table class="table table-striped table-bordered border-light mt-5">
    <thead class="text-light">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col" class="text-center">Meeting Link</th>
        <th scope="col">TM</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sessions" >
            <td>{{item.date_of_session | date}}</td>
            <td>{{item.start}}</td>
            <td>{{item.end}}</td>
            <td>{{item.title}}</td>
            <td>{{item.module.name}}</td>
            <td><a href="{{item.meet_url}}">{{item.meet_url}}</a></td>
            <td><a href="mailto:{{item.module.technical_mentor.email}}">{{item.module.technical_mentor.email}}</a></td>
        </tr>
    </tbody>
</table>
</div>
