
<div class="dash-title row">
    
    <div class="heading col-md-5">
        <h2 class="home-head mx-5">Dashboard </h2> 
    
    </div>

    <div class="col-md-5 text-center">
        <a href="/module"><button type="submit" class="btn">My Modules</button></a>
    </div>
    <hr class="head-rule">

</div>
<div class="row">

    <div class="display col-md-8">

        <a href="#Card" class="col-md-4" *ngFor="let mod of personalModules">   
            <div class="card p-3">
                <img class="" src="{{mod.profile_image}}" class="card-img-top" alt="html">
                <hr>
                <div class="card-body">
                    <h5 class="card-text">Module: {{mod.name}}</h5>
                    <p  class="text-end py-2"><small>By: {{mod.technical_mentor.email}}</small></p>
                </div>
            </div>
        </a>
        <div class="info"> Current User:  {{currentUser.user_id}}
            
        </div>
    </div>

    <div class=" notifications col-md-4 px-5 text-center">

        <div class="logo">
            <img src="../assets/images/moringa.png" alt="logo">
        </div>

        <div class="announcements px-3">
            <h4><b>Announcements</b></h4><hr>

            <div class="announcements text-start" *ngFor="let ann of announcements">   
                <ul>
                    <li><a href="">{{ann.content}}</a> </li>
                </ul>
        </div>
        </div>
    </div>

</div>