<div class="row my-3">
    <div class="card" style="width: 18rem; height: 18rem;">
    <img src="https://cdn-icons.flaticon.com/png/128/552/premium/552721.png?token=exp=1657367575~hmac=be0aa2979e529aab47711c0ede60d5d5" class="rounded-circle" style="width: 100px; height: 100px;" alt="Avatar" class="card-img-top mx-auto" alt="...">
    <div class="card-body">
    <h5 class="card-title">Rhona</h5>
    <p class="card-text">Email: <a href="mailto:Rhona@gmail.com">Rhona@gmail.com</a></p>
    <p class="card-text">Bio: I'm a Technical Mentor</p>

            <div class="name m-3" *ngFor="let info of profileInfo">
                
                <p class="email my-2"><span class="prof-info">Email: </span>&nbsp; {{info.user.email}}</p>
                <p class="bio my-2"><span class="prof-info text-start">Bio: </span>&nbsp;&nbsp; {{info.bio}}</p>
            </div>
        </div>
    </div>

    <div class="editing py-3 col-md-8 border-start px-5 border-success">
        <h2 class="text-center">Mentor's Profile Settings</h2>
        <!-- <p class="text-center my-3">Edit Your Profile Information and Icon Here</p> -->

        <hr>
        <!-- User Creation form -->
        <div class="container mt-5">
            <form action="" class=" mx-auto">
                <h4 class="text-center"> Edit Personal Information </h4>
            
                <!-- Student Name -->
                <label for="exampleInputemail" class="form-label"> Name </label>
                <div class="names">
                    <div class="mb-3 name-input">
                        <input type="text" class="form-control" id="exampleInputemail" placeholder="Firstname" aria-describedby="">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputemail" placeholder="Lastname" aria-describedby="">
                    </div>
                </div>
                <!-- add student -->
                <div class="mb-3">
                    <label for="exampleInputemail" class="form-label"> Email Address </label>
                    <input type="email" class="form-control" id="exampleInputemail" readonly aria-describedby="">
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputemail" class="form-label"> Role </label>
                    <input class="form-control" type="text" placeholder="Student" readonly>
                </div>
                <!-- student module -->
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1"> Bio </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write your bio here" rows="3"></textarea>
                </div>
                
                <!-- submit -->
                <div class="row mb-5">
                    <div class="col text-center">
                        <button type="submit" class="btn"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>



<!-- <p class="name my-2"><span class="prof-info">Name/Role: </span>&nbsp; &nbsp;  {{info.user.email}}</p> -->
