<div class="row my-3">
    <div class="profile col-md-4 col-sm-4 col-lg-4 py-3 px-3">
        <div class="inner-profile">
            <h2 class="text-center mb-3">Profile</h2>
            <div class="icon text-center">
                <img class="" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                    style="width: 150px;" alt="Avatar" />
            </div>

            <div class="name m-3" *ngFor="let info of profileInfo">
                
                <p class="email my-2"><span class="prof-info">Email: </span>&nbsp; {{info.user.email}}</p>
                <p class="bio my-2"><span class="prof-info text-start">Bio: </span>&nbsp;&nbsp; {{info.bio}}</p>
            </div>
        </div>
    </div>

    <div class="editing py-3 col-md-8 border-start px-5 border-success">
        <h2 class="text-center">Mentor's Profile Settings</h2>
        <!-- <p class="text-center my-3">Edit Your Profile Information and Icon Here</p> -->

        <hr>
        <!-- User Creation form -->
        <div class="container mt-5">
            <form action="" class="w-75 mx-auto">
                <h4 class="text-center"> Edit Personal Information </h4>
            
                <!-- Student Name -->
                <label for="exampleInputemail" class="form-label"> Name </label>
                <div class="names">
                    <div class="mb-3 name-input">
                        <input type="text" class="form-control" id="exampleInputemail" placeholder="Firstname" aria-describedby="">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputemail" placeholder="Lastname" aria-describedby="">
                    </div>
                </div>
                <!-- add student -->
                <div class="mb-3">
                    <label for="exampleInputemail" class="form-label"> Email Address </label>
                    <input type="email" class="form-control" id="exampleInputemail" readonly aria-describedby="">
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputemail" class="form-label"> Role </label>
                    <input class="form-control" type="text" placeholder="Student" readonly>
                </div>
                <!-- student module -->
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1"> Bio </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write your bio here" rows="3"></textarea>
                </div>
                
                <!-- submit -->
                <div class="row mb-5">
                    <div class="col text-center">
                        <button type="submit" class="btn"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>



<!-- <p class="name my-2"><span class="prof-info">Name/Role: </span>&nbsp; &nbsp;  {{info.user.email}}</p> -->