<hr>
<div class="copyright text-center">
    &copy; Moringa School
</div>



<!-- <div class="container">
    <h4 class="text-center m-5" >Schedule App is Coming Soon!</h4> -->
  
    <!-- <p>Get Request (https://scheduleizo.herokuapp.com/comments/)</p> -->
    <!-- <ul *ngFor="let com of listscomments">
      <li>{{com.comment}}</li>
      <li>{{com.date_created}}</li>
      <li>{{com.session.meet_url}}</li> -->
      <!-- <li>{{com.user}}</li> -->
      <!-- <li>{{com.session.student.name}}</li>
    </ul>
  </div> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
  
  <!-- <div class="sessions">
    <h2>Sessions</h2> -->
    <!-- <p>{{getModuleSessions.title}} </p> -->
    <!-- <ul *ngFor="let sess of ModuleSessions">
      <li>Meeting Url: {{sess.meet_url}} &nbsp; &nbsp; Name: {{sess.name}} &nbsp;&nbsp; {{sess.start}} &nbsp;&nbsp; {{sess.end}} {{sess.module.technical_mentor.email}} </li>
    </ul>
  </div> -->