<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head> 

<nav id="sidebar" class="" *ngIf="isAuthenticated">
    <div class="sidebar-header ">
        <h3><a href="/home">ClassApp</a></h3>
        <strong><i class="fas fa-home"></i></strong>
    </div>
    
    <ul class="list-unstyled components mr-2 ml-2">
        <li class="mb-4" style="text-align:center;">
            <a href="#dash">
                <img class="" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle ml-2"
                style="width: 150px;" alt="Avatar"/>
                
            </a>
            <p>Profile</p>
            
        </li>

        <li class="mb-4">
            <a href="/">
                <img src="https://img.icons8.com/material/24/000000/dashboard-layout.png"/>&nbsp;
                &nbsp; Dashboard
            </a>
            
        </li>


        <li class="mb-4">
            <a href="/schedule">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                &nbsp; Schedule
            </a>    
        </li>

        <li class="mb-4">
            <a href="/post">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                &nbsp;Post Schedule
            </a>    
        </li>
        
        <li class="mb-4">
            <a href="/add">
                <i class="fa fa-user"></i>&nbsp;
                &nbsp; Add Student
            </a>
        </li>
        
        <li class="mb-4">

            <!--Todo Loop between TM and Student -->
            <a href="/tm">
                <i class="fa fa-cog" aria-hidden="true"></i> &nbsp;
                Settings
            </a>
        </li>

        <li class="mb-4">
            <a href="/sessions">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> &nbsp;
                Sessions
            </a>
        </li>
        
        
    </ul>

    <!-- <div class="logout ml-2 mr-2 ">
        <a href="" class="btn btn-sm btn-outline-danger d-block mx-auto"> Logout</a>
    </div> -->
</nav>