<div class="container">
  <div class="login-form mx-auto">
    <h2 class="title">Login Form </h2>
    <div class="input-field">
      <label for="email"></label>
      <input type="email" placeholder="Enter your email address" name="email" id="email">
    </div>
    <div class="input-field">
      <label for="pass"></label>
      <input type="password" placeholder="**********" name="pass" id="pass">
    </div>
    <div class="input">
      <div>
        <input type="checkbox" name="" id="remember">
        <label for="remember">Keep me signed in? </label>
      </div>
      <a href="#">forgot your password?</a>
    </div>

    <button class="btn login mx-auto">Sign in</button>

    <div class="new-user">
      <p>Don't Have an Account?</p>
      <a href="/signup" class="btn create">Sign Up</a>

    </div>
  </div>
</div>