<div class="container">
  <form class="form-control p-5 h-95" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm" novalidate>
  <div class="login-form mx-auto">
    <h2 class="title">Login Form </h2>
    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && isLoginFailed"
      >
        Kindly Enter Correct Email or Password {{ errorMessage }}
      </div>
    </div>
    <div class="mb-4 input-field">
      <label for="email"></label>
      <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required minlength="3"
        maxlength="100" #email="ngModel" placeholder="Email" />
    </div>
    <div class="mb-4 input-field">
      <label for="password"></label>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
        minlength="6" #password="ngModel" placeholder="**********"  />
    </div>
    <div class="input">
      <div>
        <input type="checkbox" name="" id="remember">
        <label for="remember">Keep me signed in? </label>
      </div>
      <a href="#">forgot your password?</a>
    </div>

    <button class="btn login mx-auto">Sign in</button>

    <div class="new-user">
      <p>Don't Have an Account?</p>
      <a href="/signup" class="btn create">Sign Up</a>

    </div>
  </div>
</form>
</div>

         