.navbar{
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 9999;
    width: 100%;
}

#cont img{
    width: 100%;
    object-fit: cover;
object-position: right top;
}


#add img{
    width: 100%;

}
#small img{
    width: 25%;
    border-radius: 50%;
}
#btn:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    outline-color: white;
    transition: 0.9s;
}
#btn{
    background-color: rgb(249, 0, 0);
    color: rgb(255, 255, 255);
    
}
#btn1:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    outline-color: white;
    transition: 0.9s;
}
#btn1{
    background-color: rgb(249, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    
}
#header{
    font-weight: bolder;
}
#title1{
    font-weight: bolder;
    text-transform: uppercase;
}
.featured{
    font-weight: bolder;
    text-decoration: underline crimson 5px;

}
#mypic img{
    width: 20%;
    height: 20px;

}
#post{
    margin-top: 7%;
    height: 100vh;
}
.profile{
    height: 100vh;
    margin-top: 3%;
}
#indexcontainer{
    margin-top: 7%;
}
#searchcontainer{
    margin-top: 7%;
    height: 100vh;

}
#dropdownMenuLink{
    margin-left: 20px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 756px){
    #indexcontainer{
        margin-top: 15%;
    }
    #dropdownMenuLink{
        margin-top: 10px;
        margin-left: 0px;
    }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 320px) {
    #indexcontainer{
        margin-top: 25%;
    }
    #dropdownMenuLink{
        margin-top: 10px;
        margin-left: 0px;

    }
}