<div class="container">
<form class="w-50 mx-auto mt-5">
    <h1 class="text-center heading">Classroom Post Schedule </h1>
    <!-- title -->
<div class="mb-3">
    <label for="exampleInputText" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleInputText" aria-describedby="">
</div>

<!-- description -->
<div class="mb-3">
    <label for="exampleInputText" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputText" aria-describedby="">
</div>

<!-- location -->
<div class="mb-3">
    <label for="exampleInputText" class="form-label">Location</label>
    <input type="text" class="form-control" id="exampleInputText" aria-describedby="">
</div>

<!-- day -->
<div class="mb-3">
<label class="field select">Day
    <select id="language" name="language" class="w-100">
        <option value="">Select Day..</option>
        <option value="mon">Monday</option>
        <option value="tue">Tuesday</option>
        <option value="wed">Wednesday</option>
        <option value="thur">Thursday</option>
        <option value="fri">Friday</option>
    </select>
</label>
</div>

<div class="mb-3">
    <label for="exampleInputText" class="form-label">Start Time</label>
    <input type="time" class="form-control" id="exampleInputText" aria-describedby="">
</div>

<div class="mb-3">
    <label for="exampleInputText" class="form-label">End Time </label>
    <input type="time" class="form-control" id="exampleInputText" aria-describedby="">
</div>

<div class="row mb-3">
    <div class="col text-center">
    <button type="submit" class="btn">Add Schedule</button>
    </div>
    </div>
</form>
</div>
