<div class="container">
  <div class="signup-form mx-auto">
    <h2 class="title">Create Account</h2>
    <div class="input-field">
      <label for="email"></label>
      <input type="email" placeholder="Enter your email address" name="email" id="email">
    </div>
    <div class="input-field">
      <label for="pass"></label>
      <input type="password" placeholder="**********" name="pass" id="pass">
    </div>
    <div class="input">
      <div>
        <input type="checkbox" name="" id="remember">
        <label for="remember">Keep me signed in? </label>
      </div>
      <a href="#">forgot your password?</a>
    </div>

    <p class="terms">By Continue, you agree our <strong>Condition of use</strong> and <strong>Privacy Notice</strong>.</p>

    <button class="btn signup mx-auto">Sign Up</button>

    <div class="new-user">
      <p>Already Have an Account?</p>
      <a href="/login" class="btn create">Login</a>

    </div>
  </div>
</div>