@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family: 'Anek Gujarati', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background:#4A154B;
}

h2{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration:none;
    text-transform:capitalize;
    color:#4A154B;
    font-size:.8rem;
}
a:hover,a:focus {
    color:#f8f6f1;
}
.container{
    margin:0;
    padding:0;
}
.signup-form{
    width:750px;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    padding:3rem;
    box-shadow:2px 7px 8px rgba(0,0,0,.3);
    border-radius:3px;
    color:black;
    text-align:center;
}
.title{
    margin-bottom:1rem;
}
.input-field {
    width:100%;
    padding:0;
    margin:0;
}
.input-field input {
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color: black;
    border-bottom:1px solid #4A154B;
    padding:.6rem;
}
.input-field input:focus {
    border-color: #4A154B;
}

.input {
    display:flex;
    justify-content:space-between;
    font-size:.9rem;
}
input[type="checkbox"]{
    background:transparent;
    padding:1rem;
}
.terms {
    font-size:.7rem;
    margin-top:1rem;
    padding: 0 3rem;
}
.terms strong{
    text-decoration:underline;
    cursor:pointer;
}
.btn {
    padding:.7rem;
    border:none;
    border-radius:3px;
    font-size:1rem;
    font-weight:bold;
    outline:none;
    cursor:pointer;
    text-transform:capitalize;
    transition:.2s ease-in-out;
    filter:brightness(1);
}
.signup {
    background:#4A154B;
    color: #fff;
    width: 100%;
}
.create{
    width:100%;
    font-weight:normal;
    box-shadow: 2px 5px 8px #4A154B;
}
.btn:hover {
    filter: brightness(.8);
}
.new-user{
    margin-top:1rem;
}
.new-user p{
    padding-bottom:.5rem;
    font-size:.8rem;
}

@media screen and (max-width:500px){
.signup-form{
    width:calc(70% - 1rem);
    margin:1rem;
}
.terms{
    padding:0;
}
}
@media screen and (max-width:350px){
.signup-form{
    width:calc(60% - 1rem);
    margin:1rem;
}
.terms{
    padding:0;
}
}