<div class="row">
    <div class="profile col-md-4 col-sm-4 col-lg-4 py-3 px-3 text-center">
        <div class="icon">
            <img class="" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                style="width: 150px;" alt="Avatar" />
        </div>

        <div class="name my-5">
            <p class="name my-5">Jane Doe</p>
            <p class="email">janedoe@gmail.com</p>
            <p class="bio my-5">I am a Ruby Developer</p>
        </div>

    </div>

    <div class="editing py-3 col-md-8 border-start px-5 border-success">
        <h2 class="text-center">Student Profile Settings</h2>
        <p class="text-center my-3">Edit Your Profile Information and Icon Here</p>

        <h3>Personal Information</h3>
        <hr>
        <!-- User Creation form -->
        <div class="dummy my-5">e</div>
        <div class="dummy my-5">d</div>
        <div class="dummy my-5">d</div>
        <div class="dummy my-5">d</div>
        <div class="dummy my-5">d</div>
        <div class="dummy my-5">d</div>
        <div class="dummy my-5">d</div>
    </div>
</div>